CoMessenger Client/Localization/CustomLocalization.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">
  <xs:element name="ArrayOfLocalizationEntry" type="ArrayOfLocalizationEntryType"/>
  <xs:complexType name="LocalizationEntryType">
    <xs:sequence>
      <xs:element type="xs:string" name="Original"/>
      <xs:element type="xs:string" name="Translation"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Remark" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ArrayOfLocalizationEntryType">
    <xs:sequence>
      <xs:element type="LocalizationEntryType" name="LocalizationEntry" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>